  div {

}

.nav > div{
background: #ffaaee; /* : #rrggbb */
float: right;
padding: 10px;
border:4px dashed purple;
border-radius: 30px

}

.nav > div:hover {
 background :hotpink 
}


https://jsfiddle.net/bbLzk8Lm/1/https://jsfiddle.net/bbLzk8Lm/1/
